
<!doctype html>
<html class="no-js" lang="zxx">
<head>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Scott Cashion - @ViewBag.Title</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="icon" href="~/Content/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/Content/favicon.ico" type="image/x-icon">
    <!-- Place favicon.ico in the root directory -->
    <!-- link to fontawesome -->
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">

    @Styles.Render("~/Content/css")

</head>

<body>

    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid ">
                    <div class="header_bottom_border">
                        <div class="row align-items-center">
                            <div class="col-xl-3 col-lg-2">
                                <!--<div class="logo">
                                    <a href="index.html">
                                        <img src="~/Content/img/logo.png" alt="">
                                    </a>
                                </div>-->
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul class="menu" id="navigation">
                                            <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                                            <li><a href="@Url.Action("Resume", "Home")">Resume</a></li>
                                            <li><a href="@Url.Action("Portfolio", "Home")">Portfolio</a></li>
                                            <li><a href="@Url.Action("Links", "Home")">Links</a></li>
                                            <li><a href="@Url.Action("Contact", "Home")">Contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xs-5 col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a href="https://github.com/scash58" target="_blank">My GitHub <i class="fab fa-github"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    @RenderBody()

    <!-- footer start -->
    <footer class="footer">
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Scott Cashion All rights reserved | This template is made by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--/ footer end  -->
    <!-- link that opens popup -->
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!-- JS here -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    

    @Scripts.Render("~/bundles/template")

    @RenderSection("scripts", required: false)

    <script>

        //Use the selector values found or declared in your stylesheet
        //for the "active" class. For the code below, your stylesheet
        //would look something like this: .mainmenu ul li.selected a { //style rules}

        $('.menu li').each(function () {

            //In this example, the class for active highlighting is attached to the <li>,
            //so we'll need to go one level further to check the href value of the <a>
            //within that <li> and ensure it matches what is found in the browser URL

            if ($(this).find('a').attr('href') == window.location.pathname) {

                //If they match, add the correct class name for active highlighting.
                //$(this) refers to the <li>, so we need to find the <a> within it
                //and check the href attribute.

                $(this).addClass('active');

            }

        });

    </script>

</body>
</html>
